<%= render :partial => 'shared_header' %>

<% form_tag version_progresses_url(), :method => :get, :id => "progress_report_form", :class => "new_issue" do %>
    <div class="box tabular">
      <p>
        <label>Project:</label>
        <%= select_tag :project_id, options_for_select(@projects.collect{|project| [project.name, project.id]}.insert(0, ""))  %>
      </p>

    </div>
<% end %>